.login_info_wrapper {
    margin-left: 250px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 300px);
    height: 90vh;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #1500ff;
}

.login_info_wrapper h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.first-part{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.admin_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    height: 70%;
    background-color: #fefefe;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 20px #1500ff;

}

.login_info_wrapper h1 {
    margin-bottom: 2.5rem;
}

.edit-prf-btn{
    cursor: pointer;
    margin-top: -50px;
    padding-bottom: 5px;
}

#usernamee, #passwordd, #confirm, #email, #f-name, #l-name, #phone-number {
    margin-bottom: 1.5rem;
}

.login_info_wrapper .confirm_btn {
    width: 27%;
}

.img_prf .prf-pic{
    width: 50%;
    height: auto;
    min-width: 150px;
    max-width: 16vw;
    border-radius: 50%;
    margin-left: 3rem;
}
.img_prf{
width: 50%;
}

.second-part {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 15%;
    width: 40%;
    flex-direction: column;
    margin-top: 3rem;
    padding: 20px;
    font-size: 20px;
    background-color: #fefefe;
    border-radius: 20px;
    margin-bottom: 4rem;
    box-shadow: 0px 0px 20px #1500ff;

}

.show_password {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.show_password input {
    padding: 0px 0px;
    width: auto;
    background-color: #fafafa;
    border: none;
}

.show_password button {
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 900px) {
    .login_info_wrapper {
        width: 100vw;
        margin-left: 0px;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90vh;
        background-color: #f9f9f9;
        border-radius: 15px;
        box-shadow: 0px 0px 20px #aaa;
    }
    .first-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .second-part{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 15%;
        width: 60%;
        flex-direction: column;
        margin-top: 3rem;
        padding: 20px;
        font-size: 20px;
        background-color: #fefefe;
        border-radius: 20px;
        margin-bottom: 4rem;
        margin-left: 11rem;
    }
    .img_prf{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 3rem;
    }
    .img_prf .prf-pic {
        margin-left: 0rem;
        margin-top: 1rem;
    }

}
@media screen and (max-width: 700px){
    .login_info_wrapper{
        height: 100vh;
    }
    .second-part{
        margin-left: 0rem;
        width: 80%;
    }
}
@media screen and (max-width: 450px) {
    .login_info_wrapper {
        margin-top: 6rem;
        height: 100vh;
    }
    #usernamee, #passwordd, #confirm, #f-name, #l-name, #email, #phone-number {
        margin-bottom: 2rem;
    }

    .login_info_wrapper form .confirm_btn {
        padding: 15px 0px;
    }
    .login_info_wrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90vh;
        background-color: #f9f9f9;
        border-radius: 15px;
        box-shadow: 0px 0px 20px #aaa;
    }
    .first-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .second-part{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 15%;
        width: 99%;
        flex-direction: column;
        margin-top: 3rem;
        padding: 20px;
        font-size: 20px;
        background-color: #fefefe;
        border-radius: 20px;
        margin-bottom: 4rem;
        margin-left: 0rem;
    }
    .img_prf{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .img_prf .prf-pic {
        margin-left: 0rem;
        margin-top: 1rem;
    }

}

