

/* .container {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: 1200px;
} */

.subgroup-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 0;
}

.subgroup-container
.subgroups_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subgroup_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 3vh;
    padding: 0 2rem;
}


.subgroup_buttons {
    padding-left: 2rem ;
    display: flex;
    align-items: center;
}

@media (max-width: 700px ) {
    .container {
        grid-template-columns: 1fr;
    }

    .group_wrapper {
        margin-top: 4rem;
    }
}

@media (max-width: 450px ) {
    .group_wrapper, .admin_wrapper {
        margin-top: 6rem;
    }

    .subgroup-container {
        flex-direction: column;
        align-items: flex-start;
    }

}