.group_wrapper {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 230px);
    height: 100%;
    padding-top: 3rem;
}

.group_wrapper h1 {
    margin-bottom: 2rem;
}

.add_cat {
    margin-bottom: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 200px auto;
}

.subgroup-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    width: calc(100vw - 200px);
    height: 100%;
    margin-bottom: 5rem;
}

.cat_card {
    background-color: #fdfdfd;
    border-radius: 10px;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    box-shadow: 5px 6px 18px 2px#ccc;
    padding: 1rem;
    transition: 0.5s;
}

.cat_card:hover {
   transform: scale(1.1);
}

.plus-butn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 30px;
    width: 70px;
    margin-bottom: 2rem;
    background-color: white;
    transition: 0.5s;
}

.cat_card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
    color: rgb(48, 103, 206);
}

.cat_card_title hr {
    width: 30%;
    color: rgb(48, 103, 206);
}

.cat_card_btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.popup_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup_sub h3 {
    margin-bottom: 1rem;
}

.cat_card_btns button {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: none;
    padding-top: 0.2rem;
}

.edit {
    background-color: rgb(68, 134, 255);
    transition: 0.5s;
}
.edit:hover {
    background-color: rgb(140, 180, 255);
}

.trash {
    background-color: rgb(255, 60, 60);
    transition: 0.5s;
}
.trash:hover {
    background-color: rgb(255, 117, 117);
}

.view {
    background-color: rgb(0, 241, 93);
    transition: 0.5s;
}
.view:hover {
    background-color: rgb(34, 255, 119);
}

.input_label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.input_label label {
    font-weight: 600;
}

.input_label input {
    width: 70%;
}

.radio {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.radio_income, .radio_expense {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
}

.radio label {
    margin-left: 10px;
}

.subgroups {
    
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
}

.add_cat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    transition: 0.5s;
}

.add_cat:hover {
    transform: scale(1.1);
}

.dropdown_groups {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 7px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.subgroup-container
.subgroups_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subgroup_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 3vh;
    padding: 0 2rem;
}

.subgroup_buttons {
    padding-left: 2rem ;
    display: flex;
    align-items: center;
}

/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.subgroup-container .subgroups_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px $clr-gray300;
    background-color: white;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;

    thead {
    box-shadow: 0 5px 10px $clr-gray300;
    background-color: rgb(68, 134, 255);
    color: #fff;
    font-weight: 600;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td {
    padding: 1rem 2rem;
}

a {
    text-decoration: none;
    color: $clr-link;
}

.status {
    border-radius: $radius;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;

&-pending {
     background-color: $clr-pending;
     color: $clr-pending-font;
 }

&-paid {
     background-color: $clr-paid;
     color: $clr-paid-font;
 }

&-unpaid {
     background-color: $clr-unpaid;
     color: $clr-unpaid-font;
 }
}

.amount {
    text-align: right;
}

//Color alternating rows
  tr:nth-child(even) {
      background-color: $clr-gray150;
  }
}

@media screen and (max-width: 850px) {
    .subgroups {
        margin-left: -2rem;
    }
    .subgroups .styled-table {
        margin-left: -2rem;
    }
    .subgroup-container {
        grid-template-columns: 1fr 1fr;
    }
    .cat_card {
        width: 250px;
        margin-bottom: 2rem;
    }
    .cat_card_btns {
        width: 90%;
    }
}


@media (max-width: 700px ) {
    .container {
        grid-template-columns: 1fr;
    }

    .group_wrapper {
        margin-top: 4rem;
        margin-left: 0;
        width: 100vw;
    }
    .subgroup-container {
        width: 100vw;
        margin-left: 0;
        grid-template-columns: 1fr ;
    }

}

@media (max-width: 450px ) {
    .group_wrapper {
        margin-top: 6rem;
    }

    .subgroup-container {
        width: 100vw;
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .cat_card {
        width: 310px;
    }

    .group_wrapper h1 {
        margin-bottom: 2rem;
    }

    .group_wrapper {
        margin-top: 2rem;
    }
}

@media (max-width: 855px) {
    .styled-table{
        margin-top: 0px;
    }
    .styled-table thead{
        display: none;
    }
    .styled-table, .styled-table tbody,.styled-table tr, .styled-table td{
        display: block;
        width: 74vw;
        margin: auto;
    }
    .styled-table tr{
        margin-bottom: 15px;
    }
    .styled-table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .styled-table td:before{
        content: attr(data-label);
        position:absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
}