.gcard {
    position: relative;
    width: 220px;
    height: 250px;
    background-color: var(--clr1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #aaa;
    transition: 0.5s;
}

.gcard:hover {
    transform: scale(1.1);
}

.gcard .percent {
    position: relative;
    width: 150px;
    height: 150px;
    transform: translateX(-9px);
}

.gcard .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.gcard .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #fefefe;
    transform: translate(5px,5px);
}

.gcard .percent svg circle:nth-child(1) {
    stroke: var(--clr2);
}

.gcard .percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc((440 - (440 * var(--num)) / 100) * 1px);
    animation: fadeIn 2s linear forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 1s linear forwards;
}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
    color: #000;
}

.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span {
    font-weight: 300;
    font-size: 0.5em;
}

.number p {
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 5px;
    color: #000;
}

.percent .goal_total, .percent .goal_year {
    color: #000;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: fadeIn 2s linear forwards;
}

.percent .goal_year {
    transform: translateY(-20px);
    height: 0px;
}

.edit_goal {
    position: absolute;
    transform: translate(90px, -100px);
    cursor: pointer;
}

.edit_goal:hover {
    position: absolute;
    transform: translate(90px, -100px);
}
