.goal_wrapper {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 230px);
    height: 100%;
    padding-top: 3rem;
}

.goal_wrapper h1 {
    margin-bottom: 3rem;
}

.goals_display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    justify-items: center;
    align-items: center;
    width: calc(100vw - 200px);
    height: 100%;
    margin-bottom: 5rem;
}

.add_goal_btn {
    margin-bottom: 2rem;
    transition: 0.5s;
}

.add_goal_btn:hover {
    transform: scale(1.2);
}

@media screen and (max-width:850px) {
    .goals_display {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:700px) {
    .goals_display {
        width: 100vw;
    }
    .goal_wrapper {
        margin-left: 0;
        margin-top: 2rem;
        width: 100vw;
    }
}

@media screen and (max-width:450px) {
    .goals_display {
        grid-template-columns: 1fr;
    }
    .goal_wrapper {
        margin-top: 3rem;
    }
}