.currency_wrapper {
    margin-left: 200px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 200px);
    height: 100%;

}

@media screen and (max-width: 700px) {
    .currency_wrapper {
        margin-top: 4rem;
        width: 100vw;
        margin-left: 0;
    }
}

@media screen and (max-width: 450px) {
    .currency_wrapper {
        margin-top: 6rem;
    }
}
