

.sidebar {
    background-color: #f1f1f1;
    height: 100vh;
    overflow: auto;
    width: 200px;
    transition: 0.7s;
    z-index: 1000;
    position: fixed;

}

.show, .hidden {
    background-color: #f1f1f1;
    overflow: auto;
    height: 90vh;
    width: 200px;
    transition: 0.7s;
}

.a {
    justify-content: space-between;
    display: flex;
    color: #000;
    padding: 16px;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    
}

.a p {
    margin-left: 5px;
}

.logout {
    display: flex;
    justify-content: space-between;
    width: 120px;
    align-items: center;
}

.sidebar .show .a:hover:not(.active), .sidebar .hidden .a:hover:not(.active) {
    background-color: rgb(68, 134, 255);
    color: white;
}

.logo_image {
    width: 120px;
    height: 80px;
}

.menu {
    display: none;
}

.confirm_btn {
    margin-bottom: 0;
  }

@media screen and (max-width: 700px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    .sidebar, .show, .hidden {
        width: 100%;
        height: auto;
        position: fixed;
        
        flex-direction: row;
        /*position: relative;*/
    }

    .a {
        font-size: smaller;
    }

    div.content {
        margin-left: 0;
    }

    .hidden {
        transform: translateY(-1000px);
        transition: 0.7s;
    }

    .logout {
        transform: translateY(-33px);
        height: 10px;
    }

}

/*@media screen and (max-width: 400px) {*/
/*    .sidebar{*/
/*        display:flex;*/
/*        flex-direction:column;*/
/*        text-align:center;*/
/*    }*/
/*}*/
