.admin-wrapper {
  margin-left: 200px;
  width: calc(100vw - 220px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.admin-wrapper h1 {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.card-admin-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.popup_title{
  display: flex;
  column-gap: 0.5rem;
  text-align: center;
  align-items: center;
  padding-bottom: 15px;
  justify-content: center;

}


.popup_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 6vh;
}
.plus-butn point{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 5px;
  width: 100px;
  margin-bottom: 2rem;
  background-color: white;
  transition: 0.5s;
}
.form-group{
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.confirmation {
  background-color: rgb(68, 134, 255);
  color: #fff;
  width: 3rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size:medium;
  cursor: pointer;
}

.point {
  cursor: pointer;
}

.role_list_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  
}


.role_list {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000;
  height: 25px;
  cursor: pointer;
}

.add-admin {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.add-admin:hover {
  transform: scale(1.1);
}

.form_admin {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.popup_left, .popup_right {
  width: 50%;
}

.reset_pass_btn {
  background-color: transparent;
  border-radius: 5px;
  width: 70%;
  height: 8%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}




 .search-bar {
  display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background-color: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em,0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background-color: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 1.375em;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {

  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: transparent;
    border-radius: 50px;
    box-shadow: 0 0 0 0.1em #4486FF inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}
@media screen and (max-width: 1050px) {
  .card-admin-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .card-admin-wrapper {
    grid-template-columns: 1fr;
  }

  .admin-wrapper {
    margin-left: 0px;
    width: 100vw;
    margin-top: 4rem;
  } 

}