.container-admin {

    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 0 15px #aaa;
    transition: 0.5s;
    height: 400px;
    width: 270px;
}

.container-admin:hover {
    transform: scale(1.1);
}

.fix-name{
    display: flex;

}
.container-admin .box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;
}
.box .quote i{
    margin-top: 10px;
    font-size: 45px;
    color: #17c0eb
}
.container-admin .box .image{
    margin: 10px 0;
    height: 150px;
    width: 150px;
    background: #4486FF;
    padding: 3px;
    border-radius: 50%;
}
.box .image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}
.box p{
    text-align: justify;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}
.box .name_job{
    margin: 10px 0 3px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-left: 10px;
}
.rating i{
    font-size: 18px;
    margin-bottom: 5px;
}

.btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.btns button{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: none;
    padding-top: 0.2rem;
}
/*.btns button:first-child{*/
/*    background: none;*/
/*    margin-right: 5px;*/
/*}*/
/*.btns button:last-child{*/
/*    color: #fff;*/
/*    margin-left: 5px;*/
/*}*/
/*.btns button:first-child:hover{*/
/*    background: #4486FF;*/
/*    color: #fff;*/
/*}*/
/*.btns button:hover{*/
/*    background-color: #fff;*/
/*    color: #4486FF;*/
/*}*/
/*@media (max-width:1045px){*/
/*    .container-admin .box{*/
/*        width: calc(50% - 10px);*/
/*        margin-bottom: 20px;*/
/*    }*/
/*}*/
/*@media (max-width:710px){*/
/*    .container-admin .box{*/
/*        width: 100%;*/
/*    }*/
/*}*/