
.home_wrapper {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 230px);
    height: 240vh;
    
}

.home_wrapper h1 {
    margin-bottom: 2rem;
}

.chart {
    width: 230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pie_charts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 3rem;
}

.barchart {
    width: 950px;
    margin: 0 auto;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.barchart_container {
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    width: 90%;
    margin-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px #1500ff;
    background-color: #fff;
}

.move_bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 18vw;
}

.button-container .button_report {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    height: 1.5rem;
    width: 70px;
    transition: 0.5s;
    cursor: pointer;
}

.button-container button:hover, .button_report_selected {
    background-color: rgb(68, 134, 255);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 1.5rem;
    width: 70px;
    transition: 0.5s;
    cursor: pointer;
}

.move_bar_btn {
    transition: 0.5s;
}

.move_bar_btn:hover {
    transform: scale(1.1);
}

.cardss {
    position: relative;
    width: 220px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #aaa;
    transition: 0.5s;


}

.container-cardss {
    margin-top: 30px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 200px);
    padding-left: 50px;
    padding-right: 20px;


}

.cardss-i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;

}

.cardss.percent {
    position: relative;
    width: 150px;
    height: 150px;
    transform: translateX(-9px);
}

.cardss .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.cardss .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #fefefe;
    transform: translate(5px, 5px);
}

.GoalbarContainer {
    display: flex;
    flex-direction: row;
}

.GoalbarContainer .p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecty {
    display: flex;
    justify-content: center;align-items: center;
}

.cardss .percent svg circle:nth-child(1) {
    stroke: var(--clr2);
}

.cardss .percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc((440 - (440 * var(--num)) / 100) * 1px);
    animation: fadeIn 2s linear forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.numberr {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
    color: #000;
}

.numberr p {

    transform: translateY(-1rem);
}

.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span {
    font-weight: 300;
    font-size: 0.5em;
}

.number p {
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 5px;
    color: #000;
}

.pie_charts_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
    margin-bottom: 3rem;
    border-radius: 15px;
    box-shadow: 0 0 20px #1500ff;
    background-color: #fff;
    width: 90%;
}

@media screen and (max-width: 650px) {
    .home_wrapper{
        margin-left: 0;
        width: 100vw;
        height: 230vh;
        margin-top: 4rem;
    }
    .container-cardss {
        margin-top: 0;
        display: grid;
        margin-bottom: 0;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .GoalbarContainer{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

    }
    .pie_charts_container {
        margin-bottom: 1rem;
       width: 90%;
        height: auto;
        margin-top: 2rem;

    }
    .pie_charts{
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .button-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .cardss{
        margin-top: 1rem;
    }
    .barchart_container{
        margin-bottom: 1rem;
        width: 90%;
        height: 60vh;
        margin-top: 2rem;
    }
    .barchart_container .button-container{
        margin-top: 10rem;
    }
    .barchart{
        width: 18rem;
        height: 18rem;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

}

@media screen and (min-width: 650px) and (max-width: 900px){
    .home_wrapper{
        margin-left: 200px;
        width: calc(100vw - 200px);
        height: 180vh;
    }
    .container-cardss {

        display: flex;
        margin-bottom: 0;
        flex-direction: row;
        justify-content: center;
    }

    .GoalbarContainer{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

    }
    .pie_charts_container {
        margin-bottom: 1rem;
        width: 90%;
        height: auto;
        margin-top: 2rem;

    }
    .pie_charts{
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .button-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .cardss{
        margin-top: 1rem;
    }
    .barchart_container{
        margin-bottom: 1rem;
        width: 90%;
        height: 60vh;
        margin-top: 2rem;
    }
    .barchart_container .button-container{
        margin-top: 10rem;
    }
    .barchart{
        width: 28rem;
        height: 28rem;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
}

@media screen and (max-height: 780px) and (max-width: 450px) {
    .home_wrapper {
        height: 250vh;
    }
}

@media screen and (max-height: 720px) and (max-width: 450px) {
    .home_wrapper {
        height: 300vh;
    }
    .barchart_container {
        height: 70vh;
    }
}