.loading_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loading_circle {
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    border-left: 3px solid rgb(68, 134, 255);
    border-right: 3px solid rgb(68, 134, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: circle_rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.dollar_rotating {
    font-size: 40px;
    text-align: center;
    color: rgb(52, 109, 214);
    font-weight: 600;
    animation-name: dollar_rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes circle_rotation {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dollar_rotation {
    50% {
        transform: rotate(1080deg);
    }
    100% {
        transform: rotate(2160deg);
    }
}