.trans_wrapper {
    margin-left: 200px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 216px);
    height: 100%;
    padding-bottom: 2rem;
}

.trans_table {
    width: 100px;
    font-size: 15px;
}

.trans_table th, .trans_table td {
    padding: 7px 7px;
    text-align: center;
}

.trans_edits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.point:hover {
    transform: scale(1.1);
}

.trans_select {
    background-color: #4486FF;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.input_label-date{
    display: flex;
    align-items: center;
    width: 100%;
}
.currency-list_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    width: 100%;
}
.currency-list{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000;
    height: 25px;
    cursor: pointer;
}

.date-input{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}
@media screen and (max-width: 800px) {
    .trans_wrapper {
        width: 100vw;
        margin-top: 6rem;
    }
}

@media screen and (max-width: 800px){
    .trans_table{
        margin-top: 4rem;
        width: 100vw;
    }
    .trans_table tr{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .trans_wrapper{
        margin-left: 0px;
    }
}
@media screen and (max-width: 1200px){
    .trans_table{
        width: 100vw;

    }
}
